
/*Nav bar*/
.sidenav{
  height: 100%;
width: 80px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #f5b791;
overflow-x: hidden;
padding-top: 60px;
border: 5px double;
  opacity:0.8;
}
 .navlabel{
  text-decoration: underline;
  font-size: 25px;
  color: black;
  text-align:center;
  font-family:"Courier New";


}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display:block;
  line-height: 100px;
  font-family:"Courier New";

}
.sidenav a:hover {
  color: #008080;

}


/*Responsive code*/
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
/*body*/
body {
background-color:gray;
overflow:hidden;
  background-image:url("https://i.ibb.co/4sRX1MD/d7q3qmp-7ce19228-dd9f-42a9-ad31-dd53c6d48a26.jpg")

}
/*entire page*/
.wrapper{
  display:flex;
  flex-direction:row-reverse;
  flex-wrap:wrap;

}

.middle-content{
  font-weight:bold;
  height:550px;
  width:100%;
  border: 2px solid white;
  opacity:0.8;

;

}
.image-container{
  width:50%;
  height: 70%;
  border: 2px dotted white;
  border-radius: 7px;
  background-color:#02d6d9;
  color:black;
  float:right;
  text-align:center;
  margin-top:100px;
  margin-right:50px;

}



/*headers*/
h1 {

  text-shadow: 2px 2px #02d6d9;
  padding-left:60px;
  color:white;
  font-size:45px;
  font-family:"Courier New";


}
